@import url("https://fonts.googleapis.com/css2?family=Arya&family=Ruluko&display=swap");

body {
  font-family: "Ruluko", sans-serif;
  font-size: 14px;
}

h1,
h2 {
  font-family: "Arya", sans-serif;
}

a {
  color: black;
  font-weight: bold;
}

footer {
  margin: 2em 0;
}
